<html lang="en">
<head>
    <title>Заявка не найдена</title>
    <link rel="stylesheet" href="/styles/request_ship_style.css">
</head>
<body>
    <header>
        <h1>
            <a href="/ships"><img class="home-img header-icon" src="/img/home-img.svg" alt="home"></a>
        </h1>
    </header>
    <div class="request">
        <div class="error-message">
            <h1 class="error-message_h1">Заявка не найдена</h1>
            <div class="error_404">404</div>
        </div>
    </div>
</body>
</html>